<header class="clearfix">
  <img class="logo"src="assets/images/Liggett.png" alt="" />
  <div class="header-link-container">
    {{#link-to "portfolio" class="headerlink"}}Portfolio{{/link-to}}
    {{#link-to "about" class="headerlink"}}About Me{{/link-to}}
    {{#link-to "login" class="headerlink"}}Sign In{{/link-to}}
  </div>
</header>
  <div class="booking-information">
    <h1>Booking information</h1>
    <p>
      Your email address for contact purposes
    </p>
    {{input type="text" name="email-entry" value=model.emailAddress placeholder="Email Address"}}
    <h2>First Name</h2>
    {{input type="text" name="first-name" value=model.firstName placeholder="First Name"}}
    <h2>Last Name</h2>
    {{input type="text" name="last-name" value=model.lastName placeholder="Last Name"}}
    <h2>How did you hear of me?</h2>
    <select name="referral-type" value="">
        <option value="Please Select" selected>Please Select</option>
        <option value="Word of mouth">Word of mouth</option>
        <option value="Advert">Advertisement</option>
        <option value="Internet">Internet</option>
      </select>
    <h2>Detail the specifics please.</h2>
    <textarea name="name" value=model.bookingDetails rows="8" cols="60" placeholder="What types of shots are you wanting.."></textarea>
    <button type="submit-booking-information" name="Submit" {{action "createBooking" model}}></button>

  </div>
{{outlet}}
